html {
  --primary-color:#0C1C2C;
  --secondary-color:#5DBCD2;
  --triple-color:	#20828C;
  --fourth-color: 	#88BAC1;
}

/*optional https://i.etsystatic.com/8019895/r/il/8d59f1/1183057532/il_794xN.1183057532_7au1.jpg or photo:https://cdn.pixabay.com/photo/2015/03/27/21/33/dream-catcher-695254_960_720.jpg*/
/*background-repeat: no-repeat;
  background-size: cover;*/
body {
  background: #0C1C2C;
  font-family: "Tangerine", cursive;
  font-size: 16px;
}

h1 {
  color: whitesmoke;
  font-size: 2.209em;
  text-align: 10 5rem;
}

h2 {
  color: var(whitesmoke);
  font-size: 4.209em;
  text-align: 10 5rem;
  margin: 0
}

h3 {
  color: var(whitesmoke);
  font-size: 4.209em;
  text-align: 10 5rem;
}

li,
p {
  font-size: 1.777em;
  color: whitesmoke;
}
/*makes the selected images at most 100% of the parent*/
figure,
img {
  padding: 1rem;
  justify-content: center;
  max-width: 100%;
}
header {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}
p {
  /* First number is top and bottom.
    Second number is left and right. */
  padding: 0 2.5rem;
  text-align: center;
  margin: 0
}
nav li {
  display: inline-block;
  font-size: 1em;
}
footer {
  color: var(--text-primary-color);
  padding: 1.5rem;
  text-align: center;
}

.button {
  background: #20828C;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.button a {
  text-decoration: none;
}

/*hides images or things on mobile*/
.mobile-hidden {
  display: none;
}

.flex {
  display: flex;
}

.justify-space-around {
  justify-content: space-around;
}

@media screen and (min-width: 885px) {
  #hero {
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/32/Dream_IT_Solutions_Logo.jpg) center center no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100vw;
  }
  .flex--sm {
    display: flex;
  }
}

#gallery div {
  border-bottom: medium;
display: flex;
flex-wrap: wrap;
text-align: center;
margin: 2 rem 0;
}
