/*Main CSS*/
html {
  --primary-color:#000519;
  --secondary-color:#04305A;
  --triple-color:	:	#1092FF;
  --fourth-color:	#88BAC1;
  --fifth-color: #0C1C2C;

}
body {
  font-family: 'Metamorphous', cursive;
  /*font-family: 'Gruppo', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Cormorant SC', serif;
font-family: 'Metamorphous', cursive;
font-family: "Gentium Book Basic", serif*/
  font-size: 12px;
  height: 100vh;
  text-shadow: darkgray;
  background-color: #000519; /* viewport heights */
}
h1 {
  color: whitesmoke;
  font-size: 8.209em;
  font-family: 'Tangerine', cursive;
  text-shadow: 2px 2px 5px whitesmoke;
}
h2 {
  font-size: 3.157em;
  margin: 0;
}
h3 {
  font-size: 2.369em;
  font-family: 'Cormorant SC', serif;
}
li,
p,
label,
input,
button {
  font-size: 1.777em;
  color: #88BAC1;
}
figure,
img {
  /* Limit the width of all 'figures' and 'imgs' to be at most 100% of the size of the parent. */
  max-width: 100%;
}
header {
  background-color:var(--primary-color);
  padding: 1rem;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  margin: 0;
  /* First number is top and bottom.
    Second number is left and right. */
  padding: 0 2.5rem;
  text-align: center;
  color: #88BAC1;
}
label {
  margin-right: 0.25rem;
}
input {
  border: solid thin var(--primary-color);
  border-radius: 3px;
}
footer {
  color: #88BAC1;
  padding: 1.5rem;
  text-align: center;

/*SCSS for Social Media Icons */
@font-face {
  font-family: 'icomoon';
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
  src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
      url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
      url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
      url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social-networks {
margin: 35px 0 35px;
padding: 0;
font-size: 0;
text-align: center;

li {
  display: inline-block;
}

a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 100px;
    background-color: #1f2027;
    transition: all 400ms;
  }

  &:after {
    position: relative;
    display: block;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #fff;
    font-size: 26px;
    line-height: 66px;
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

&.spin-icon a:hover:after, &.spin-icon a:focus:after {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}

&.square a:hover:before, &.square a:focus:before {
  border-radius: 0;
}

&.bounce a:hover, &.bounce a:focus {
  animation: bounce 1s;
}

networks: linkedin '\eac9' #0077b5, facebook '\e603' #3b5998, twitter '\e618' #00b0ed, github '\eab1' #4183c4, instagram '\e604' #3f729b;

@each $network in $networks {
   .icon-#{nth($network, 1)} {
     &:after {
       content: '#{nth($network, 2)}';
    }

    &:hover:before, &:focus:before {
      background: nth($network, 3);
    }
  }
}
}

@keyframes bounce {
0%, 20%, 53%, 80%, 100% {
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: translate3d(0,0,0);
}

40% {
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -6px, 0);
}

70% {
  transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
  transform: translate3d(0, -4px, 0);
}

90% {
  transform: translate3d(0,-2px,0);
}
}
}

/* Flex for DREAMS */

#Dreams div {
  border-bottom: solid thick var(--secondary-color);
  margin: 2rem 0;
  padding-bottom: 2rem;
  text-align: center;
  color: whitesmoke;
}
#Dreams {
  display: flex;
  flex-wrap: wrap;
}

/*classes*/

.button {
  background: #88BAC1;
  border-radius: 3px;
  padding: 0.5rem;
}
.button--submit {
  background-color: lightslategray;
  color: white;
}
.button a {
  text-decoration: none;
}
.button--circle {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}


/* I set a breakpoint of 768px for my first MEDIA QUERY.(PHONE) */

@media screen and (min-width: 768px) {
  .flex--sm {
    display: flex;
  }
}

/* I set a breakpoint of 885px for my second MEDIA QUERY.(TABLET) */

@media screen and (min-width: 885px) {
  #mainPageImage {
    background: url(https://upload.wikimedia.org/wikipedia/commons/3/32/Dream_IT_Solutions_Logo.jpg) top center no-repeat;
    background-size: cover;
    height: 75vh;
    width: 100vw;
  }
  .flex--md {
    display: flex;
    flex-wrap: wrap;
  }
  /* Direct child selector. */
  #gallery > div {
    width: 50vw;
  }
}

/* I set a breakpoint of 1440px for my third MEDIA QUERY.(Desktop) */

@media screen and (min-width: 1440px) {
  figure {
    margin: 0;
  }
  /* Direct child selector. */
  #Dreams > div {
    /* TODO: Look up box-shadow on MDN. */
    border-bottom: solid thin var(--secondary-color);
    margin: 2rem 0;
    padding-bottom: 2rem;
    text-align: center;
  }
  #Dreams > div {
    width: 33vw;
  }
}


